{% extends 'main.html' %}

{% block content%}
<main class="profile my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <div class="card text-center">
            <div class="card__body dev">
              <img class="avatar avatar--xl" src="{{profiles.image_url}}" />
              <h2 class="dev__name">{{profiles.username}}</h2>
              <p class="dev__title">Expirance FullStack Developer, Youtuber and Instructor</p>
              <p class="dev__location">Based in {{profiles.location}}</p>
              <ul class="dev__social">
              {% if profiles.github_link %}
                <li>
                  <a title="Github" href="{{profiles.github_link}}" target="_blank"><i class="fa fa-github" style="font-size:27px"></i></a>
                </li>
                {%endif%}
                {% if profiles.insta_id %}
                <li>
                  <a title="Instagram" href="{{profiles.insta_id}}" target="_blank"><i class="fa fa-instagram" style="font-size:27px"></i></a>
                </li>
                {%endif%}
                {% if profiles.twitter_acc %}
                <li>
                  <a title="Twitter" href="{{profiles.twitter_acc}}" target="_blank"><i class="fa fa-twitter" style="font-size:27px"></i></a>
                </li>
                {%endif%}
                {% if profiles.Linkedin %}
                <li>
                  <a title="LinkedIn" href="{{profiles.Linkedin}}" target="_blank"><i class="fa fa-linkedin" style="font-size:27px"></i></a>
                </li>
                {%endif%}
                {% if profiles.youtube_acc %}
                <li>
                  <a title="LinkedIn" href="{{profiles.youtube_acc }}" target="_blank"><i class="fa fa-youtube" style="font-size:27px"></i></a>
                </li>
                {%endif%}
              </ul>
              <a href="{% url 'send_messages' profiles.id %}" class="btn btn--sub btn--lg">Send Message </a>
            </div>
          </div>
        </div>
        <div class="column column--2of3">
          <div class="devInfo">
            <h3 class="devInfo__title">About Me</h3>
            <p class="devInfo__about">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex illum ipsum iusto consequatur. Totam,
              dolorum fugiat, debitis facere illo nostrum nesciunt maxime, deserunt enim voluptatibus modi natus velit
              voluptatum. Dicta eritatis exercitationem ut quos a placeat obcaecati? Architecto illum!
              <br />
              Amet consectetur adipisicing elit. Veritatis exercitationem ut quos a placeat obcaecati? Architecto
              illum, atque delectus nemo dolorem inventore ab facilis? Dolor placeat vel delectus ipsam ullam.
            </p>
          </div>
          <div class="devInfo">
            <h3 class="devInfo__title">Skills</h3>
            <div class="devInfo__skills">
              {% for skill in topskills%}
              <div class="devSkill">
                <h4 class="devSkill__title">{{skill.name}}</h4>
                <p class="devSkill__info">
                 {{skill.description}}
                </p>
              </div>
              {% endfor%}
              
              

              <h3 class="devInfo__subtitle">Other Skills</h3>
              <div class="devInfo__otherSkills">
                {% for skill in otherskills%}
                <span class="tag tag--pill tag--sub tag--lg">
                  <small>{{skill}}</small>
                </span>
               {%endfor%}
              </div>
            </div>
          </div>
          <div class="devInfo">
            <h3 class="devInfo__title">Projects</h3>
            <div class="grid grid--two">

              <div class="column">
                {% for project in profiles.project_set.all %}
                <div class="card project">
                  <a href="{% url 'single_project' project.id %}" class="project">
                    <img class="project__thumbnail" src="{{project.project_image.url}}" alt="project thumbnail" />
                    <div class="card__body">
                      <h3 class="project__title">{{project.title}}</h3>
                      <p><a class="project__author" href="{% url 'single_profile' project.owner.id %}">{{project.owner.username}}</a></p>
                      <p class="project--rating">
                        <span style="font-weight: bold;">{{project.vote_ratio}}%</span> Postitive
    Feedback ({{project.vote_total}} Vote{{project.vote_total|pluralize:"s"}})
                      </p>
                      <div class="project__tags">
                        {% for tag in project.tags.all%}
                        <span class="tag tag--pill tag--main">
                          <small>{{tag}}</small>
                        </span>
                        {%endfor%}
                      </div>
                        
                    </div>
                  </a>
                </div>
                {%endfor%}
              </div>
  
             

            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{%endblock content%}